/**
    Name: Jocelyn Dupuis
    File: composer-details.component.css
    Date: 11/01/2023
    Description: Styles for composer details component
*/


/** styling for anchor tag*/
a {
  float: right;
}
