<!--Name: Jocelyn Dupuis -->
<!--File: contact.component.html -->
<!--Date: 11/14/2023-->
<!--Description: HTML file for contact component-->

<!--HTML file for contact page-->
<div fxLayout="row wrap">

  <div fxFlex>
    <!--card for app contact - street address info-->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          123 Main Street
        </p>
        <p>
          Reno, Nevada
        </p>
      </mat-card-content>
  </div>

  <div fxFlex>
    <!--card for app contact - phone numbers-->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 555-666-7777
        </p>
        <p>
          Toll-free: 1-888-666-7777
        </p>
        <p>
          Fax: 555-666-7777
        </p>
      </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Reno metro area!
  </p>
</div>
