<!--Name: Jocelyn Dupuis-->
<!--File: about.component.html-->
<!--Date: 10/26/2023-->
<!--Description: html file for about component in composer app - exercise 2.4-->


<!--main body container-->
<div class="composer-container">
  <div class="row">

    <div class="col-sm-12">
      <h3 class="composer-name">Frédéric Chopin</h3>
    </div>

  </div>

  <br />

  <!--div for composer image left of write-up-->
  <div class="row about-composer"style="text-align: center">
    <div class="col-sm-5">
      <img src="./assets/fredericChopin.jpg" />
      <figcaption style="text-align: center">Photo credit: Hadi Karimi</figcaption>
    </div>

    <!--div for composer write-up to left-->
    <div class="col-sm-7" style="padding-top: 2%">
      <p>
        A Polish-French composer and pianist of the Romantic period, best known for his solo pieces for piano and his piano concerti. Although his piano works were brief, Chopin ranks as one of music’s greatest tone poets by reason of his superfine imagination and meticulous craftsmanship.
      </p>
      <p>
        Chopin found himself invited at an early age to play at private soirées, and at eight, he made his first public appearance at a charity concert. Three years later, at eleven, he performed in the presence of the Russian tsar Alexander I. When he was sixteen, his family enrolled him at the newly formed Warsaw Conservatory of Music.
      </p>
      <p>
        Chopin was born in 1810 and died in 1849 at only 39 years old. He suffered most of his life with respiratory tract infections, hemoptysis, and severe breathing problems and was thought to have died of tuberculosis. He made his mark through his very distinct sound, often melancholy, emphasizing on song-like melodies.
      </p>
    </div>
  </div>

</div>



