// File: styles.scss
// Name: Jocelyn Dupuis
// Date: 11/13/2023
// Description: styles for application


// import statement
@import './theme';

// Styling for html and body
html, body {
  height: 100%;
}

// Styling for body
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// defined blue with class to use later
.blue {
  color: #2196f3;
}

// defined green with class to use later
.green {
  color: #66bb6a;
}

// styling for attribution link
.attribution-link {
  text-decoration: none;
  color: white;
}

// styling a hover for attribution link
.attribution-link:hover {
  text-decoration: underline;
}

// styling for card title icon
.card-title-icon {
  text-align: center;
}

// changes font size of card title icon
.card-title-icon, mat-icon {
  font-size: 72px;
}

// styling to center align text in container
.align-center {
  text-align: center;
}
