<!--Name: Jocelyn Dupuis -->
<!--File: app.component.html -->
<!--Date: 11/21/2023-->
<!--Description: HTML file for app component-->

<!--toolbar for navigation-->
<mat-toolbar class="toolbar">

    <mat-toolbar-row>
      <!--for app logo-->
      <div class="logo">
        <img src="./assets/In-N-Out books Logo.png" height="80" />
      </div>
      <div style="width: 80%">
        <div fxLayout="row wrap" fxLayoutAlign="end start">
          <!--router links to navigate-->
          <button mat-button routerLink="/book-list">Book List</button>
          <button mat-button routerLink="/wishlist">Wish List</button>
          <button mat-button routerLink="/contact">Contact</button>
          <button mat-button routerLink="/about">About</button>
        </div>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<br />

<div fxLayout="row wrap">

  <div fxFlex>

    <!--main container-->
    <mat-card class="main-container">
      <mat-card-title class="blue">{{ assignment }}</mat-card-title>

      <br />
      <br />

      <!--car content-->
      <mat-card-content>
        <!--router outlet-->
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
