<!--Name: Jocelyn Dupuis -->
<!--File: about.component.html -->
<!--Date: 11/14/2023-->
<!--Description: HTML file for about component-->

<!--HTML file for about page-->
<div fxLayout="row wrap">

  <div fxFlex>

    <div fxLayout="column">
      <!--image display-->
      <div>
        <img src="./assets/joe-ricker.jpg" />
      </div>

      <!--photo attribution and link-->
      <div>
        <em>
          Photo by <a class="attribution-link" href="https://downandoutbooks.com/joe-ricker/" target="_blank">Down & Out Books</a>
        </em>
      </div>
    </div>
  </div>

  <!--details about the author-->
  <div fxFlex>
    <h1 class="blue">Who is Joe Ricker</h1>
    <p>
      Joe Ricker is a former bartender for Southern literary legends Barry Hannah and Larry Brown. He has also worked as a cab driver, innkeeper, acquisitions specialist, professor, and in the Maine timber industry. He currently lives in Reno, Nevada, and spends much of his free time walking uphill with his beloved dog, Kamoni. When the season of writing is upon him, Joe enjoys submerging himself in the mountains and past experiences for inspiration for his dark and twisted stories.
    </p>

    <em>Biography by Down & Out Books</em>
  </div>
</div>
