// File: app.component.scss
// Name: Jocelyn Dupuis
// Date: 11/14/2023
// Description: scss file for app component

// styling for logo
.logo {
  margin-top: 5px;
}

// styling for main container
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
