<!--Name: Jocelyn Dupuis-->
<!--File: sign-in.component.html-->
<!--Date: 11/30/2023-->
<!--Description: html file for sign in component-->

<!--html for form-->
<div fxLayout="column">

  <div fxFlex>
    <mat-card class="mat-elevation-z8 signin-container">
        <!-- card title-->
        <mat-card-title>
            Student Sign In
        </mat-card-title>
        <!--card subtitle-->
        <mat-card-subtitle>
            You must enter a valid student ID to proceed.
        </mat-card-subtitle>

        <mat-card-content>
            <!--displays error message if invalid student id-->
            <div class="msg-error" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

            <div *ngIf="signinForm.controls['studentId'].errors && signinForm.controls['studentId'].touched">
                <div class="msg-error">
                  Student ID must be a numeric value
                </div>
            </div>

            <mat-card class="mat-elevation-z0 fxLayout=column" fxLayoutGap="10px">
                <!--form-->
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); signinForm.reset()">

                    <mat-card-content>

                        <mat-form-field fxFlex appearance="fill">
                            <mat-label for="txtStudentId" id="lblStudentId">Student ID</mat-label>
                            <!--references student id-->
                            <input type="text" matInput formControlName="studentId" required id="txtStudentId" name="txtStudentId" />
                        </mat-form-field>
                    </mat-card-content>

                    <mat-card-actions>
                        <button type="submit" [disabled]="!signinForm.valid" fxFlex mat-raised-button color="primary">Submit</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </mat-card-content>

    </mat-card>
  </div>

</div>
